<!DOCTYPE html>
<html ng-app="swole-app">
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div class="exercise" ng-controller="swoleControl">
    <h1>{{title}}</h1>

    <form ng-submit="addWorkout()">
      <select name="repeatSelect" id="repeatSelect" ng-model="exercise.muscleGroup">
        <option value="">--Choose a muscle group--</option>
        <option ng-repeat="group in exerciseGroups" value={{group}}>{{group}}</option>
      </select>

      <input type="text" ng-model="exercise.name" placeholder="Exercise Name" />
      <input type="date" ng-model="exercise.date" placeholder="Weight" />
      <input type="number" ng-model="exercise.weight" placeholder="Weight" />
      <input type="number" ng-model="exercise.reps" placeholder="Reps" />

      <button>Add</button>
    </form>

    <h2 ng-hide="workouts[0]">Add a Workout</h2>
    <table ng-show="workouts[0]">
      <tr>
        <th>Date</th>
        <th>Muscle Group</th>
        <th>Exercise</th>
        <th>Weight</th>
        <th>Reps</th>
      </tr>
      <tr ng-repeat="workout in workouts">
        <td>{{ workout.date | date }}</td>
        <td>{{ workout.muscleGroup }}</td>
        <td>{{ workout.name }}</td>
        <td>{{ workout.weight }}</td>
        <td>{{ workout.reps }}</td>
      </tr>
    </table>
  </div>

  <script type="text/javascript" src="swole.js"></script>
</body>
</html>